.App-header {
  background-color: #c699f0;
  background: linear-gradient(10deg, #c699f0, #ff704e);
  padding: 1em;
  color: #3e3349;
  text-align: center;
  perspective: 2em;
  perspective-origin: center center;
  border-bottom: 0.5em solid #6b5481;
  border-bottom-color: #ff704e;
}

.App-header h2 {
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 0.1em 0.1em 0 #a686c3;
  mix-blend-mode: multiply;
  transform: skew(-30deg) rotateX(10deg);
  animation: title 18s infinite linear;
}

@keyframes title {
  0%,
  90% {
    transform: skew(-30deg) rotateX(10deg);
  }
  100% {
    transform: skew(-30deg) rotateX(370deg);
  }
}
