.uploader {
    display: block;
    width: 100%;
    width: calc(100% - 2em);
    margin: 1em;
    padding: 10%;
    background: #fafafa;
    border: .5em dashed #c699f0;
    border-radius: .5em;
    text-align: center;
}

.uploader__button {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #ff704e;
    background: linear-gradient(-12deg, #ff704e, #8c27df);
    border: 2px solid #F8866D;
    padding: 1em;
    line-height: 1.2;
    border-radius: 10px;
    transition: all .2s;
}