.uploader {
  display: block;
  width: 100%;
  width: calc(100% - 2em);
  margin: 1em;
  padding: 10%;
  background: #fafafa;
  border: 0.5em dashed #c699f0;
  border-radius: 0.5em;
  text-align: center;
}

.uploader__button {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #ff704e;
  background: linear-gradient(-12deg, #ff704e, #8c27df);
  border: 2px solid #f8866d;
  padding: 1em;
  line-height: 1.2;
  border-radius: 10px;
  transition: all 0.2s;
}
